.bike-container {
    display: flex;
    text-align: center;
    width: 100%;
    height: 250px;
    margin: 12px 24px;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
}

.bike-image{
    display: flex;
    justify-content: center;
    height: 25vh;
    width: 25vw;
    margin: 12px 30px;
    padding: 24px;
    border-radius: 5px;
    position: absolute;
    left: 26%;  
    
}

.bike-image > img {
    height: 200px;
    width: auto;
    
    border-radius: 5px;
    box-shadow: rgba(5,5,5, 0.7) 10px 10px 15px -2px;
    transition: 250ms all ease-out;
}

.bike-image  :hover{
    transform: scale(1.05);
    box-shadow: rgba(5,5,5, 0.8) 10px 10px 10px -2px;
}



.bike-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 65%;
    left: 13%;
    line-height: 0px;
    font-style: italic;
}
